<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    {{#if result}}
        <h1>Welcome {{result}}</h1>
    {{else}}
        <p>Authentication error.</p>
    {{/if}}
</body>
</html>
